.footer {
  background: #fff;
  padding: 60px 0 30px;
}

.footer-desc {
  max-width: 320px;
  color: #6b7280;
  margin-top: 16px;
  font-size: 14px;
}

.footer-title {
  font-weight: 700;
  margin-bottom: 14px;
  position: relative;
  padding-left: 12px;
}

.footer-title::before {
  content: "";
  width: 4px;
  height: 24px;
 background: var(--gradient-primary);

  position: absolute;
  left: 0;
  top: 0;
  border-radius: 2px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 8px;
  color: #374151;
  cursor: pointer;
  margin-left: 14px;
  
}

.footer ul li:hover {
  background: var(--color-hover);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.footer-socials {
  display: flex;
  gap: 12px;
  margin-top: 18px;
}

.footer-socials svg {
  width: 36px;
  height: 36px;
  padding: 8px;
  border: 1px solid #e5e7eb;
  border-radius: 50%;
  cursor: pointer;
}

.footer-input {
  flex: 1;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
}

.footer-btn {
 /* background: var(--color-primary-yellow); */
 background: var(--gradient-primary);

  border: none;
  padding: 12px 22px;
  border-radius: 10px;
  font-weight: 600;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.footer-policy {
  display: flex;
  gap: 20px;
}

.footer-policy span {
  cursor: pointer;
  color: #374151; /* fallback color */
  transition: all 0.3s ease;
  position: relative; /* for underline if needed */
}

.footer-policy span:hover {
  background: linear-gradient(90deg, #cb7c05, #cb7c05); /* gradient for text only */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* Firefox support */
  color: transparent;    /* Firefox fallback */
}


/* Underline using pseudo-element */
.footer-policy span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* distance from text */
  width: 0;
  height: 2px; /* thickness of underline */
  background: var(--color-hover); /* same gradient as text */
  transition: width 0.3s ease;
}

.footer-policy span:hover::after {
  width: 100%; /* underline expands on hover */
}
